// Цвета из макета Organic Food
$text-color: #274c5b;
$accent-green: #68a47f;
$accent-yellow: #efd372;
$white: #ffffff;
$bg-light: #f9f8f8;

// Шрифты
$font-main: "Roboto", sans-serif;
$font-accent: "Yellowtail", cursive;
