.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 160px;

  @include onSmallDesktop {
    padding: 0 50px;
  }
  @include onLargeTablet {
    padding: 0 40px;
  }
  @include onSmallTablet {
    padding: 0 30px;
  }
}

.df {
  display: flex;
}
.align-c {
  align-items: center;
}
.justify-sb {
  justify-content: space-between;
}
.hidden {
  display: none;
}

.df {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-c {
  justify-content: center;
}
.align-c {
  align-items: center;
}
.yellowtail-text {
  font-family: "Yellowtail", cursive;
}
.green-text {
  color: var(--green);
} // Змінні в _variables
.sec-subtitle {
  font-size: clamp(18px, 4vw, 36px);
}
.call-to-action-link {
  /* З page 22 */
}
